@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="container m-5">
    <h1 class="text-danger mb-5">@ViewData["Title"]</h1>
    <p class="text-danger mb-5">You do not have access to this resource.</p>
</header>
