@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="mt-3">@ViewData["Title"]</h1>

<div class="row d-flex justify-content-center mt-3 mb-5">
    <div class="col-md-4 mb-5 ">
        <h2>We could create a new account, but we have demo accounts!</h2>
            <div class="col-sm-12 ftco-animate d-flex justify-content-center mt-5">
               <p><button class="btn btn-primary p-3 m-1">Demo User</button> 
                   <button class="btn btn-white btn-outline-white p-3  m-1">Manager</button></p>
            </div>
      
        
    </div>
 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
