@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registered";
}

<h1>@ViewData["Title"]</h1>

<div class="m-5">
    <p>That's it! Your on your way to delicious Pizza!! We've logged you in at this time and you can start shopping!'</p>

</div>
