@model pizzaperks.Models.Cart
@{
    List<Product> products = Model.Products.ToList();
}


<div class="container">
    <div class="m-2">
        <h3>My Cart</h3>
    </div>
    <table id="cart-items" class="table table-light table-striped table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Item
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Cost
                </th>
                <th scope="col">
                    
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var (index, item) in Model.Products.Select((products, index) => (index, products)))
            {

               <tr scope="row">
                        <td>@index</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Cost</td>
                        <td class="icon-cell"></td>
                   
                 </tr>

               
            }
        </tbody>
    </table>


</div>