@using Microsoft.AspNetCore.Identity
@using pizzaperks.Models.Enums;

@{

}


@if (User.IsInRole(nameof(Roles.Manager)))
{
    <div class="dashboard" id="manager-dashboard">
        <h3>You are a manager</h3>
    </div>
}
else
{
    <div class="dashboard" id="user-dashboard">
        <h3>You are a customer.</h3>
    </div>
}




