@using Microsoft.AspNetCore.Identity
@using pizzaperks.Models.Enums;

@{

}
<div class="container dashboard h-100 mb-5">

    @if (User.IsInRole(nameof(Roles.Manager)))
    {
        <div class="dashboard" id="manager-dashboard">
            <h3>You are a manager</h3>
        </div>
    }
    else
    {
       
    }
</div>





