@{
	ViewData["Title"] = "Pizza Perks";
}

<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">
	<div class="slider-item">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center" data-scrollax-parent="true">

				<div class="col-md-6 col-sm-12 ftco-animate">
					<span class="subheading">Delicious</span>
					<h1 class="mb-4">Italian Cuizine</h1>
					<p class="mb-4 mb-md-5">Simplistic yet elegantly crafted Italian Cuisine crafted with organic ingredients</p>
					<p><a href="#Order" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#Menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
				</div>
				<div class="col-md-6 ftco-animate">
					<img src="images/bg_1.png" class="img-fluid" alt="">
				</div>

			</div>
		</div>
	</div>

	<div class="slider-item">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center" data-scrollax-parent="true">

				<div class="col-md-6 col-sm-12 order-md-last ftco-animate">
					<span class="subheading">Crunchy</span>
					<h1 class="mb-4">Italian Pizza</h1>
					<p class="mb-4 mb-md-5">Exquisite and delicious wooden stove oven baked pizzas</p>
					<p><a href="#Order" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#Menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
				</div>
				<div class="col-md-6 ftco-animate">
					<img src="images/bg_2.png" class="img-fluid" alt="">
				</div>

			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url(images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<span class="subheading">Welcome</span>
					<h1 class="mb-4">Pizza Perks is ready to serve you!</h1>
					<p class="mb-4 mb-md-5">Customize a pizza to your liking by selecting the ingredients of your choosing	</p>
					<p><a href="#Order" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#Menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-intro">
	<div class="container-wrap">
		<div class="wrap d-md-flex">
			<div class="info">
				<div class="row no-gutters">
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-phone"></span></div>
						<div class="text">
							<h3>(719) 598-0200 </h3>
							<p>Main Phone</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-my_location"></span></div>
						<div class="text">
							<h3>1575 Garden of the Gods Road, Suite 100 </h3>
							<p>Colorado Springs, CO  80907 </p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-clock-o"></span></div>
						<div class="text">
							<h3>Open Monday-Friday</h3>
							<p>8:00am - 9:00pm</p>
						</div>
					</div>
				</div>
			</div>
			<div class="social d-md-flex pl-md-5 p-4 align-items-center">
				<ul class="social-icon">
					<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="ftco-about d-md-flex">
	<div class="one-half img" style="background-image: url(images/about.jpg);"></div>
	<div class="one-half ftco-animate">
		<div class="heading-section ftco-animate ">
			<h2 class="mb-4">Welcome to <span class="flaticon-pizza">Team 1's</span> Pizza Restaurant</h2>
		</div>
		<div>
			<p>
				Savor the essence of Italian craftsmanship with our high-end pizza company.
				Each pie is a symphony of premium ingredients meticulously sourced from
				artisanal producers, combined with centuries-old techniques to create a
				culinary masterpiece. From the velvety texture of our hand-stretched dough
				to the tantalizing medley of flavors in our signature sauces, every bite is
				an indulgence in authenticity and excellence. Elevate your pizza experience
				with us, where tradition meets innovation on every plate.
			</p>
		</div>
	</div>
</section>

<section class="ftco-section ftco-services" >
	<div class="overlay"></div>
	<div class="container" ">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Our Services</h2>
				<p class="text-dark">With Pizza Perks, we aim to delight pizza lovers everywhere and become their go-to destination for unforgettable dining experiences. Join us as we redefine the art of pizza-making and elevate the joy of sharing delicious meals with friends and family</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-diet"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Healthy Foods</h3>
						<p class="text-dark">Ingredients are home grown and locally produced to ensure an authentic and organic experience with every bite.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-bicycle"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Fastest Delivery</h3>
						<p class="text-dark">Experienced personnel and readiness are always held to standard to ensure the delivery of our pizza to you is done so in an efficient manner.`1a</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5"><span class="flaticon-pizza-1"></span></div>
					<div class="media-body">
						<h3 class="heading">Original Recipes</h3>
						<p class="text-dark">Our recipies while remaining true to traditions are further accented with our origional ingredients to ensure our pizzas can only be found right here.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section" id="Order">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Hot Pizza Meals</h2>
				<p>Our pizzas are baked via wodden stove ovens to ensure proper and consistent heat is applied to our pies.</p>
			</div>
		</div>
	</div>
	<div class="container-wrap">
		<div class="row no-gutters d-flex">
			<div class="col-lg-4 d-flex ftco-animate">
				<div class="services-wrap d-flex">
					<a href="#" class="img" style="background-image: url(images/pizza-1.jpg);"></a>
					<div class="text p-4">
						<h3>Italian Pizza</h3>
						<p> Starting wiht a thin, crispy crust, topped sparingly with fresh tomato sauce, mozzarella cheese, and a sprinkle of basil, it's a harmonious blend of flavors that captivates the senses and pays homage to Italy's rich gastronomic tradition.</p>
						<p class="price"><span>$20.00</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex ftco-animate">
				<div class="services-wrap d-flex">
					<a href="#" class="img" style="background-image: url(images/pizza-2.jpg);"></a>
					<div class="text p-4">
						<h3>Greek Pizza</h3>
						<p> Boasting a thicker, chewier crust and a unique medley of Mediterranean flavors. Topped with tangy tomato sauce, briny Kalamata olives, creamy feta cheese, and a dash of oregano, each slice is a savory journey to the sun-drenched shores of Greece, evoking the warmth and vibrancy of its culinary heritage.</p>
						<p class="price"><span>$30.00</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex ftco-animate">
				<div class="services-wrap d-flex">
					<a href="#" class="img" style="background-image: url(images/pizza-3.jpg);"></a>
					<div class="text p-4">
						<h3>Caucasian Pizza</h3>
						<p>Tantalizing fusion of flavors inspired by the diverse culinary landscape of the Caucasus region. With a dough that strikes a balance between fluffy and crispy, it serves as the canvas for an array of bold and savory toppings. Picture succulent lamb or juicy grilled meats, nestled atop a bed of creamy yogurt sauce, accented with earthy spices like sumac and cumin, creating a tantalizing symphony of taste that transports you to the heart of Caucasus cuisine.</p>
						<p class="price"><span>$25.00</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 d-flex ftco-animate">
				<div class="services-wrap d-flex">
					<a href="#" class="img order-lg-last" style="background-image: url(images/pizza-4.jpg);"></a>
					<div class="text p-4">
						<h3>American Pizza:</h3>
						<p>American pizza is a quintessential comfort food, celebrated for its generous portions and diverse range of toppings. With a soft, pillowy crust that provides the perfect base for creativity, American pizza invites experimentation and innovation. Whether piled high with classic pepperoni and gooey cheese or adorned with adventurous combinations like barbecue chicken or pineapple, each slice captures the bold, hearty spirit of American culinary culture, making it a beloved favorite for gatherings and indulgent meals alike.</p>
						<p class="price"><span>$25.00</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex ftco-animate">
				<div class="services-wrap d-flex">
					<a href="#" class="img order-lg-last" style="background-image: url(images/pizza-5.jpg);"></a>
					<div class="text p-4">
						<h3>Tomatoe Pie:</h3>
						<p>Tomato pie is a delightful twist on traditional pizza, focusing on the vibrant flavors of ripe tomatoes as the star ingredient. Featuring a thick, chewy crust that acts as the perfect foundation, tomato pie is generously layered with a rich, savory tomato sauce, infused with aromatic herbs and garlic. Topped with a sprinkling of Parmesan or Romano cheese and a drizzle of olive oil, each bite bursts with the bright, tangy essence of fresh tomatoes, creating a simple yet satisfying culinary experience that embodies the essence of Italian-American comfort food.</p>
						<p class="price"><span>$25.00</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex ftco-animate">
				<div class="services-wrap d-flex">
					<a href="#" class="img order-lg-last" style="background-image: url(images/drink-3.jpg);"></a>
					<div class="text p-4">
						<h3>Beverages:</h3>
						<p>Enjoy our variety of soft drinks as well as alchoholic drinks!</p>
						<p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5" id="Menu">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">Our Menu Pricing</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
				<p class="mt-5">Prices so low you'll think we charged you nothing!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-1.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Italian Pizza</span></h3>
							<span class="price">$20.00</span>
						</div>
						<div class="d-block">
							<p>thin and crispy crust, topped sparingly with fresh tomato sauce, mozzarella cheese, and a sprinkle of basil</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-2.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Hawaiian Pizza</span></h3>
							<span class="price">$29.00</span>
						</div>
						<div class="d-block">
							<p>Pizza crust, Tomoato sauce, Mozzarella cheese, Ham, Pinneapple chunks</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-3.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Greek Pizza</span></h3>
							<span class="price">$20.00</span>
						</div>
						<div class="d-block">
							<p>Pizza crust, Tomato sauce, Feta cheese, Kalamata olives, Red onion, Fresh tomatoes, fresh spinach leaves, olive oil, oregano, garlic, salt and pepper.</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-4.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Bacon Crispy Thins</span></h3>
							<span class="price">$25.00</span>
						</div>
						<div class="d-block">
							<p>Slices of crispy and juicy bacon</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-5.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Hawaiian Special</span></h3>
							<span class="price">$49.91</span>
						</div>
						<div class="d-block">
							<p>Pizza crust, Tomoato sauce, Mozzarella cheese, Ham, Pinneapple chunks, Topped with lettuce</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-6.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Ultimate Overload</span></h3>
							<span class="price">$20.00</span>
						</div>
						<div class="d-block">
							<p>Pizza crust, Tomato sauce, Mozzarella cheese, Pepperoni slices, Italian sausage, Ham, Bacon, Mushrooms, Red onions, Bell peppers</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-7.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Bacon Pizza</span></h3>
							<span class="price">$20.00</span>
						</div>
						<div class="d-block">
							<p>Pizza crust, Tomato sauce, Mozzarella cheese, Pepperoni slices, Bacon crisps</p>
						</div>
					</div>
				</div>
				<div class="pricing-entry d-flex ftco-animate">
					<div class="img" style="background-image: url(images/pizza-8.jpg);"></div>
					<div class="desc pl-3">
						<div class="d-flex text align-items-center">
							<h3><span>Ham &amp; Pineapple</span></h3>
							<span class="price">$20.00</span>
						</div>
						<div class="d-block">
							<p>Pizza crust, Tomato sauce, Mozzarella cheese, Pepperoni slices, Ham, Pinneapple</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 ftco-animate">
				<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(images/bg_2.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-pizza-1"></span></div>
								<strong class="number" data-number="100">0</strong>
								<span>Pizza Branches</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-medal"></span></div>
								<strong class="number" data-number="85">0</strong>
								<span>Number of Awards</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-laugh"></span></div>
								<strong class="number" data-number="10567">0</strong>
								<span>Happy Customer</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-chef"></span></div>
								<strong class="number" data-number="900">0</strong>
								<span>Staff</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-menu" >
	<div class="container-fluid">
		<div class="row d-md-flex">
			<div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(images/about.jpg);">
			</div>
			<div class="col-lg-8 ftco-animate p-md-5">
				<div class="row">
					<div class="col-md-12 nav-link-wrap mb-5">
						<div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>

							<a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

							<a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Burgers</a>

							<a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Pasta</a>
						</div>
					</div>
					<div class="col-md-12 d-flex align-items-center">

						<div class="tab-content ftco-animate" id="v-pills-tabContent">

							<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
								<div class="row">
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/pizza-1.jpg);"></a>
											<div class="text">
												<h3><a href="#">Itallian Pizza</a></h3>
												<p>Pizza crust, Tomatoes grown locally, Mozzarella cheese, Basil leaves, Virgin olive oil, Garlic, Oregano, Parmigiano-Reggiano cheese, Salt, Black pepper</p>
												<p class="price"><span>$2.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/pizza-2.jpg);"></a>
											<div class="text">
												<h3><a href="#">Itallian Pizza</a></h3>
												<p></p>
												<p class="price"><span>$2.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/pizza-3.jpg);"></a>
											<div class="text">
												<h3><a href="#">Itallian Pizza</a></h3>
												<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
												<p class="price"><span>$2.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
								<div class="row">
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/drink-1.jpg);"></a>
											<div class="text">
												<h3><a href="#">Lemonade Juice</a></h3>
												<p>Locally grown freshly squeezed and organically produced lemonade.</p>
												<p class="price"><span>$2.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/drink-2.jpg);"></a>
											<div class="text">
												<h3><a href="#">Pineapple Juice</a></h3>
												<p>Organic and locally produced Pinneapple juice.</p>
												<p class="price"><span>$2.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/drink-3.jpg);"></a>
											<div class="text">
												<h3><a href="#">Soda Drinks</a></h3>
												<p>Pepsi, Mountain Dew, Sprite, Coke, Mountain Dew.</p>
												<p class="price"><span>$2.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
								<div class="row">
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/burger-1.jpg);"></a>
											<div class="text">
												<h3><a href="#">Royal Burger</a></h3>
												<p>Hamburger buns, Hamburger Patty, Tomato, Lettuce, Mozzarella Cheese, Egg </p>
												<p class="price"><span>$8.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/burger-2.jpg);"></a>
											<div class="text">
												<h3><a href="#">Single Cheese Burger</a></h3>
												<p>Hamburger buns, Hamburger Patty, Tomato, Lettuce, Mozzarella Cheese,</p>
												<p class="price"><span>$8.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/burger-3.jpg);"></a>
											<div class="text">
												<h3><a href="#">All-Burger</a></h3>
												<p>Hamburger buns, Hamburger Patty, Tomato, Lettuce, American Cheese, Pickles</p>
												<p class="price"><span>$10.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
								<div class="row">
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/pasta-1.jpg);"></a>
											<div class="text">
												<h3><a href="#">Basic Pasta </a></h3>
												<p>Pasta, Tomato sauce, Basil leaves, Salt, Pepper.</p>
												<p class="price"><span>$13.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/pasta-2.jpg);"></a>
											<div class="text">
												<h3><a href="#">Cheesy Pasta</a></h3>
												<p>American cheese pasta, Onion slices, Parsley, Salt and Pepper.</p>
												<p class="price"><span>$14.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div class="menu-wrap">
											<a href="#" class="menu-img img mb-4" style="background-image: url(images/pasta-3.jpg);"></a>
											<div class="text">
												<h3><a href="#">Spaghetti</a></h3>
												<p>Spaghetti noodles, Tomato sauce, Sausage, Tomato Basil leaves</p>
												<p class="price"><span>$15.90</span></p>
												<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Recent from blog</h2>
				<p>See what the customers have to say about us!</p>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
					<a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
					</a>
					<div class="text py-4 d-block">
						<div class="meta">
							<div><a href="#">Sept 10, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading mt-2"><a href="#">One Quality Pizza Parlor</a></h3>
						<p>So many good things to say about the service and quality of ingredients as well as an abundance of care put into each pizza</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
					<a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
					</a>
					<div class="text py-4 d-block">
						<div class="meta">
							<div><a href="#">Aug 1, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading mt-2"><a href="#">The Pizza Experience</a></h3>
						<p>This pizza was so good, and the website made it seemless to place my order. The care and effort put into every detail is one of the best Pizza ordering experiences I have ever had. </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch">
					<a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
					</a>
					<div class="text py-4 d-block">
						<div class="meta">
							<div><a href="#">Nov 1, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading mt-2"><a href="#">The Elegance Of the dine in </a></h3>
						<p>A high-class pizza parlor that allows for a calm experience for the customer to sit and enjoy their pizza alongside a beverage of their choice. alchoholic included.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-appointment">
	<div class="overlay"></div>
	<div class="container-wrap">
		<div class="row no-gutters d-md-flex align-items-center">
			<div class="col-md-6 appointment ftco-animate">
				<h3 class="mb-3">Contact Us</h3>
				<form action="#" class="appointment-form">
					<div class="d-md-flex">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
					</div>
					<div class="d-me-flex">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Send" class="btn btn-primary py-3 px-4">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>