@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h4>Privacy Statement: We Promise Not to Stalk You... Much</h4>

<p>At Pizza Perks, we take your privacy as seriously as we take crafting the perfect pizza crust – which is to say, very seriously, but with just the right amount of cheese on top.
Rest assured, we won't be lurking in the shadows outside your house to see if you prefer pineapple on your pizza (although, let's be honest, that's a bit of a divisive topic). We won't be hiding in your closet to overhear your discussions about whether you should order pizza for dinner tonight (although, between us, we think it's always a good idea).
Here's what we will be doing: securely storing your information so that we can process your orders efficiently and ensure you get your piping hot pizza pronto. We'll also use your data to send you delicious deals and mouthwatering discounts – because who doesn't love a good pizza coupon?
So kick back, relax, and enjoy your pizza with the peace of mind that Pizza Perks is watching over your privacy like a guardian angel (or maybe more like a friendly pizza delivery person). And if you ever want us to stop sending you those cheesy jokes along with your order confirmation emails, just let us know. We promise we won't take it too personally.
Now go ahead and order that extra-large with all the toppings – your privacy is safe with us.

Cheers,
The Pizza Perks Team

P.S. We might still sneak a peek if we see you trying to eat pizza with a fork and knife. Just saying.
</p>
