@using Microsoft.AspNetCore.Identity
@inject SignInManager<PZUser> SignInManager
@inject UserManager<PZUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

    PZUser? UserInfo = await UserManager.GetUserAsync(User);


    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@(UserInfo!.FullName ?? User.Identity!.Name)</a>
    </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Orders" asp-page="/Orders/Cart" title="Cart"><span class="icon-opencart"></span></a>
        </li>


}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
